@media only screen and (max-height: 600px) {
    .sidelinks {
        display: none;
    }

    .content {
        top: 120px;
        height: calc(100% - 120px);
    }

    #page-title {
        margin-left: 40px;
        margin-top: 0px;
    }

    header {
        backdrop-filter: blur(5px);
        background-color: #2525258a;
    }
}